
/*-----------padded----------*/
.m-padded-mini {
    padding: 0.2em !important;
}

.m-padded-tiny {
    padding: 0.3em !important;
}

.m-padded {
    padding: 1em !important;
}

.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-tb-big {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-huge {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}


/*-----------text----------*/

.m-text {
    font-width: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}

.m-text-thin {
    font-width: 300 !important;
}

.m-text-spaced {
    letter-spacing: 1px !important;
}

.m-text-lined {
    line-height: 1.8;
}

.m-text-font-family {
    font-family: 苹方-简;
    font-size: 16px;
}

.m-text-center {
    text-align: center;
    color: teal;
}
/*------------------margin-----------------*/
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-tb-big{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.m-margin-top-small {
    margin-top: 0.5em !important;
}

.m-margin-top {
    margin-top: 1em !important;
}

.m-margin-top-large {
    margin-top: 2em !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

.m-margin-right{
    margin-right: 1.3em !important;
}

/*-----------------opacity------------------*/
.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-opacity-tiny {
    opacity: 0.6 !important;
}

/*-----------------position------------------*/
.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}
/*-----------------display------------------*/
.m-inline-block {
    display: inline-block !important;
}

/*----------------container-----------------*/
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}

/*------------------shadow-------------------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px rgba(0,0,0,0.2) !important;
}


/*-----------------position-------------------*/
.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

/*------------------color-------------------*/
.m-black {
    color: #333 !important;
}


.m-image-min{
    width:180px;
    height:140px;
}


.m-background-type{
    background-color:gainsboro;
}

.m-td-place1{
    width:20%;
}

.m-td-place2 {
    width: 30%;
}