body {
    margin: 0;
    padding: 0;
    background-image: url('../image/login2.jpg');
    background-repeat: no-repeat;
}

#bigBox {
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px 50px;
    background-color: #00000090;
    width: 500px;
    height: 550px;
    border-radius: 10px;
    text-align: center;
}

#bigBox h1 {
    color: white; 
}

#bigBox .inputBox {
    margin-top: 50px; 
}

#bigBox .inputBox .inputText {
    margin-top: 20px; 
}

#bigBox .inputBox .inputText span {
    color: white; 
}

#bigBox .inputBox .inputText input {
    padding: 10px 10px;
    border-bottom: 1px solid white;
    background-color: #00000000; 
    color: white;
    height: 34px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: 0;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: 0;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: 0;
    }



#bigBox .text {
   color: white;
}
